:root {
  --main-title-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button{
  cursor: pointer;
}

address{
  font-style: normal;
}

img{
 display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline:2px solid red;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  width: 160px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  background-color: transparent;
}

/* ---------HEADER------------ */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo{
margin-right: 130px;
}

.header .container{
  display: flex;
  align-items: center;
}

.header-list{
  display: flex;
  }

  .header-item:not(:last-child){
    margin-right: 30px;
  }
  

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-link:hover .header-link:focus {
  color: #ff6c00;
}

.header-connect{
  margin-left: auto;
}

.header-btn {
  color: #ffffff;
  margin-left: 40px;
}

/* ---------HERO------------ */

.hero .container{
display: flex;
}
 
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-list{
   width: 100px;
}

.hero-content{
padding: 272px 100px 206px 100px;
 background-color: #777070;
 flex-grow: 1;
}
 
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
  min-width:  360px;
}

.hero-after-title {
  color: #9da4bd;
  max-width: 360px;
}

/* ---------ABOUT------------ */

.about{
 
}

.about-list{
  display: flex;
column-gap: 30px;
}

.about .container{
display: flex;
column-gap: 30px;
}

.about-content{
  min-width: 470px;
}

.about-pre-title {
 margin-bottom: 20px;  
  color: #303030;
}

.about-title {
  margin-bottom: 20px;
  color: #303030;
}

.about-after-title {
  margin-bottom: 20px;
  color: #555555;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: #555555;
}
.about-btn {
  color: #303030;
}

/* ---------PRICES------------ */

.prices {
  background-color: #303030;

  }

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap{

}

.prices-wrap{
display: flex;
justify-content: space-between; 
}

.prices-list {
border: 1px solid #ffffff;
padding: 30px 20px;
 width: calc(50% - 15px);
}

.prices-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; 
}

.prices-item:last-child{
  margin-bottom: 0;
} 


.prices-list-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}

/* ---------BENEFITS------------ */

.benefits {

}

.benefits-list {

border: 1px: solid:#ffffff;
}

.list {
}

.benefits-item{
   width: 170px;
  height: 133px;
  border: 1px solid #000000;
  padding: 20px 24px;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.36;
  text-align: center;
  color: #ff6c00;
 }

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-after-title {
  color: #555555;
}

/* ---------BARBERS------------ */

.barbers {
}

.barbers-pre-title {
  color: #303030;
  margin : 20px;
}

.barbers-title {
  color: #303030;
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item{
  width: calc((100%-60px) / 3);
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  padding-bottom: 8px;
}

.barbers-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.brbers-wrap{
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

/* ---------GALLERY------------ */

.gallery-pre-title {
  color: #303030;
}
